<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.pt.schooldistrict.dao.HouseDao">

    <resultMap id="HouseMap" type="House">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="averagePrice" column="averagePrice"/>
        <result property="buildYear" column="built"/>
    </resultMap>

    <resultMap id="HouseMapWithHistory" type="House">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="price" column="price"/>
        <result property="name" column="name"/>
        <result property="area" column="area"/>
        <result property="type" column="type"/>
        <!--<collection property="houseHistoryList" javaType="java.util.List" ofType="HouseHistory">
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="price" property="price" jdbcType="INTEGER" />
            <result column="date" property="date" jdbcType="DATE" />
            <result column="gmt_created" property="gmtCreated" jdbcType="DATE" />
            <result column="gmt_modified" property="gmtModified" jdbcType="DATE" />
        </collection>-->
        <collection property="houseHistoryList" javaType="java.util.List" ofType="HouseHistory" column="id" select="getHistoryByHouseId">
        </collection>
    </resultMap>


    <select id="selectById" resultType="House" parameterType="int">
        SELECT * FROM sd_house where id =#{id}
    </select>

    <select id="getHistoryByHouseId" resultType="HouseHistory" parameterType="int">
        SELECT * FROM sd_house_history where house_id =#{id}
    </select>

    <select id="selectByIdWithHistory" resultType="House" parameterType="int">
        SELECT * FROM
        sd_house_history
        where
        house_id = #{id}
        ORDER BY house_id, gmt_created;
    </select>

    <select id="selectByPageId" resultType="House" parameterType="String">
        SELECT * FROM sd_house where pageId = #{pageId}
    </select>

    <select id="selectOnlineByPageId" resultType="House" parameterType="String">
        SELECT * FROM sd_house where pageId = #{pageId} and status = "online"
    </select>

    <insert id="insert" parameterType="House">
        INSERT INTO sd_house
        (title, estate_id, price, area, type, buildYear, url, pageId, status, gmt_created, gmt_modified)
        VALUES
        (#{title}, #{estateId}, #{price}, #{area}, #{type}, #{buildYear}, #{url}, #{pageId}, #{status}, now(), now())
    </insert>

    <select id="listAll" resultMap="HouseMap">
        SELECT * FROM sd_house LIMIT 10
    </select>

    <delete id="deleteByID" parameterType="int">
        DELETE FROM sd_house WHERE id = #{ID}
    </delete>

    <select id="selectByEstateId" resultMap="HouseMapWithHistory" parameterType="int">
        SELECT * FROM sd_house WHERE sd_house.`estate_id` = #{estateId} ORDER BY sd_house.price;
        <!--SELECT * FROM sd_house house
        LEFT OUTER JOIN sd_house_history history ON house.id = history.house_id
        WHERE house.estate_id = #{estateId} and house.id = 210 ORDER BY house.price;-->
    </select>

    <select id="selectOnlineByEstateId" resultMap="HouseMapWithHistory" parameterType="int">
        SELECT * FROM sd_house WHERE sd_house.`estate_id` = #{estateId} and status='online' ORDER BY sd_house.price;
    </select>

    <!-- 批量更新一个小区的房屋状态,为每日更新使用,但此接口不应更改gmt_modified-->
    <update id="updateEstateStatus" parameterType="int">
        UPDATE sd_house SET status = "gone"
        WHERE status = "online" and estate_id = #{estateId}
    </update>

    <update id="updateById" parameterType="House">
        UPDATE sd_house
        <set>
            <if test="title != null">
                title = #{title, jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price, jdbcType=INTEGER},
            </if>
            <if test="area != null">
                area = #{area, jdbcType=FLOAT},
            </if>
            <if test="type != null">
                type = #{type, jdbcType=VARCHAR},
            </if>
            <if test="buildYear != null">
                buildYear = #{buildYear, jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url, jdbcType=VARCHAR},
            </if>
            <if test="pageId != null">
                pageId = #{pageId, jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=VARCHAR},
            </if>
            gmt_modified = now()
        </set>
        WHERE id = #{id, jdbcType=INTEGER}
    </update>

    <!-- 仅供cron job使用的接口,仅更新一个房子的status,不更改gmt_modified-->
    <update id="updateStatusById" parameterType="House">
        UPDATE sd_house
        <set>
            <if test="status != null">
                status = #{status, jdbcType=VARCHAR}
            </if>
        </set>
        WHERE id = #{id, jdbcType=INTEGER}
    </update>

</mapper>