<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.pt.schooldistrict.dao.HouseDao">

    <resultMap id="HouseMap" type="House">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="averagePrice" column="averagePrice"/>
        <result property="buildYear" column="built"/>
        <result property="district" column="district"/>
    </resultMap>

    <select id="selectById" resultType="House" parameterType="int">
        SELECT * FROM sd_house where id =#{id}
    </select>

    <select id="selectByPageId" resultType="House" parameterType="String">
        SELECT * FROM sd_house where pageId = #{pageId}
    </select>

    <insert id="insert" parameterType="House">
        INSERT INTO sd_house
        (title, estate_id, price, area, type, buildYear, url, pageId, status, gmt_created, gmt_modified)
        VALUES
        (#{title}, #{estateId}, #{price}, #{area}, #{type}, #{buildYear}, #{url}, #{pageId}, #{status}, now(), now())
    </insert>

    <select id="listAll" resultMap="HouseMap">
        SELECT * FROM sd_house LIMIT 10
    </select>

    <delete id="deleteByID" parameterType="int">
        DELETE FROM sd_house WHERE id = #{ID}
    </delete>

    <select id="selectByEstateId" resultMap="HouseMap" parameterType="int">
        SELECT * FROM sd_house WHERE sd_house.`estate_id` = #{estateId} ORDER BY sd_house.price;
    </select>

    <update id="updateById" parameterType="House">
        UPDATE sd_house
        <set>
            <if test="title != null">
                title = #{title, jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price, jdbcType=INTEGER},
            </if>
            <if test="area != null">
                area = #{area, jdbcType=FLOAT},
            </if>
            <if test="type != null">
                type = #{type, jdbcType=VARCHAR},
            </if>
            <if test="buildYear != null">
                buildYear = #{buildYear, jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url, jdbcType=VARCHAR},
            </if>
            <if test="pageId != null">
                pageId = #{pageId, jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status, jdbcType=VARCHAR},
            </if>
            gmt_modified = now()
        </set>
        WHERE id = #{id, jdbcType=INTEGER}
    </update>

</mapper>